extends layout.pug

block appContent
    main.main
        .hero
            video(autoplay muted loop id="heroBackgroundVideo")
                source(src="./vids/hero-vid-1.mp4" type="video/mp4")
                | Your browser does not support HTML5 video.
            .hero__overlay
            .hero-text
                h1 #{pageHeader}
                a.btn.anchor(href='#products') Explore More
        section#products.section-cards
            header.section-cards__header
            h1.section-cards__main-heading #{pageHeader}
            h2.section-cards__sub-heading Discover the Latest in Swimwear Fashion
            .cards-container
                each product in data.products
                    .card
                        article.card__article
                            .card__image-container
                                img.card__image(src=product.image alt=product.name)
                                .card__content
                                h2.card__heading #{product.name}
                                p.card__description
                                    ul.card__list
                                    li.card__list__item Category: #{product.category}
                                    li.card__list__item Price: #{product.price}
                                    li.card__list__item(class=product.stock === 0 ? 'unavailable' : '') Stock: #{product.stock === 0 ? 'Unavailable' : 'Available'}